@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size:20px;
  font-family: 'Libre Baskerville', serif;

/* font-family: 'Kanit', sans-serif; */
}
.logotype {
  font-family: 'Londrina Solid'
}
h1, h2, h3, header {
  font-family: 'Londrina Solid', sans-serif;
}